    <div class="hero-unit" style="padding-bottom: 30px;">
      <h1>LTI Apps</h1>
      
      <p>
        Awesome stuff happens with <a href="http://www.imsglobal.org/lti/">LTI</a>. You know this is true. Here's a collection of LTI apps you can use in your classes today.
      </p>
        Not familiar with LTI? Basically it's like Facebook apps or Google widgets, but interoperable between lots of edu tools. Browse this site to find <a href="/tutorials.html">tutorials</a>, <a href="/extensions.html">extensions</a> and other resources. Apps with a gray label under their configuration xml support LTI extensions that won't work in all systems. Currently these LTI extensions are only supported by Canvas.
      <br/><br/>
        NOTE: This site is run by Instructure. The <a href="http://www.imsglobal.org/lti/">official IMS LTI site is available here</a>. The tools listed on this site <a href="http://developers.imsglobal.org/catalog.html">should work in most systems</a>.
    </div>
    <div id="contents"></div>

