    <div class="hero-unit" style="padding-bottom: 30px;">
      <h1>Edu Apps</h1>
      
      <p>
        
        Welcome to our open collection of learning apps built on <a href="http://www.imsglobal.org/lti/">LTI<span style="font-size: 12px; line-height: 20px; vertical-align: top;">&trade;</span></a>. These apps are all live and can be used in your class today!
      </p>
        Not familiar with LTI? Basically it's like Facebook apps or Google widgets, but interoperable between lots of edu tools. Browse this site to find <a href="/tutorials.html">tutorials</a>, <a href="/extensions.html">extensions</a> and other resources. Apps with a gray label under their configuration xml support LTI extensions that won't work in all systems. Currently these LTI extensions are only supported by Canvas.
      <br/><br/>
        NOTE: This site is run by Instructure. The <a href="http://www.imsglobal.org/lti/">official IMS LTI site is available here</a>. The tools listed on this site <a href="http://developers.imsglobal.org/catalog.html">should work in most systems</a>.
    </div>
    <div id="contents">
      <div class="pacman-holder moving">
        <span class="pacman-container">
          <span class="pacman-body"></span>
          <span class="pacman-mouth">
          <span class="pacman"></span></span>
        </span>
        
        <span class="dot"></span>
        <span class="dot dot2"></span>
        <span class="dot dot3"></span>
        <span class="loading">Loading...</span>
      </div>
    </div>

<% add_script "index.js" %>