    <div class="hero-unit" style="padding-bottom: 30px;">
      <h1>Edu Apps</h1>
      <p>Select an app to see its full description, ratings, and to install.</p>
    </div>
    <div id="contents" class="selectable">
      <div class="pacman-holder moving">
        <span class="pacman-container">
          <span class="pacman-body"></span>
          <span class="pacman-mouth">
          <span class="pacman"></span></span>
        </span>
        
        <span class="dot"></span>
        <span class="dot dot2"></span>
        <span class="dot dot3"></span>
        <span class="loading">Loading...</span>
      </div>
    </div>

<% add_script "index.js" %>
<% add_script "app_settings.js" %>