<tr rel="/api/v1/admin/permissions/{{ id }}">
  <td>{{ username }}</td>
  <td>
    <form class='form-inline'>
      <input type="text" class="apps span5" value="{{ apps }}"/>
      <button class="btn update_admin">Update</button>
    </form>
  </td>
  <td>
    <button class="btn delete_admin">Delete</button>
  </td>
</tr>