<footer class="footer" style="text-align: center; padding-top: 5px;">
  <p>This site and its contents are <a href="https://github.com/whitmer/lti_example">available on GitHub</a> under the MIT license. 
  Official IMS LTI docs are found on the <a href="http://www.imsglobal.org/lti/">IMS page</a>. 
  <br/>Also
  check out IMS's <a href="http://www.imsglobal.org/lti">LTI Directory</a> and details on
  <a href="http://www.imscert.org">LTI Conformance</a>.</p>
</footer>
